<ion-content>
    <div class="romebotScreen">
        <div class="romebotCanvas">
            <div class="screen">
                <div class="result-line">
                    <ion-label class="ion-text-wrap" style="max-width: 100%;" color="light">{{ result ? result : 0 }}</ion-label>
                </div>
                <div class="input-line">
                    <ion-label class="ion-text-wrap" color="secondary">{{ keyPressString }}</ion-label>
                </div>
            </div>

            <div class="keyboard integer">

                <ng-container *ngFor="let item of integerBtnMap; let i = index">
                    <ng-container *ngIf="i < 9">
                        <ion-button class="integerBtn"
                            (click)="processClick(item)">
                            {{ item }}
                        </ion-button>
                    </ng-container>
                </ng-container>

                <ion-button slot="icon-only" 
                    class="integerBtn utility flexOrder1" color="warning" (click)="processClick('backspace')">
                    <ion-icon size="large" name="backspace-outline"></ion-icon>
                </ion-button>

                <ion-button class="integerBtn" (click)="processClick(0)">0</ion-button>

                <ion-button slot="icon-only"
                    class="integerBtn utility flexOrder3" color="danger" (click)="processClick('clear')">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>